body {
    font-family: "Open Sans", sans-serif;
    margin: 48px;
    user-select: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #007ed3;
    text-decoration: underline;
}

a:visited {
    color: #000;
}
    